body {
  background-color: #eee;
}

*,
h1 {
  margin: 0;
}

i {
  font-style: normal;
}

main label {
  font-family: 'Droid Sans Mono', monospace;
  display: block;
  margin: .85ch 0;
}

.hidden {
  display: none !important;
}

main .item:hover,
.fade {
  opacity: .75;
}

.selectize-control:hover {
  opacity: 1;
}